@import url("https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;500&family=Limelight&family=Livvic:wght@100;200&display=swap");
h1 {
  font-family: "Limelight", sans-serif, Arial, Helvetica;
}
h2,
a {
  font-family: "Hind Guntur", sans-serif, "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  font-family: "Livvic", sans-serif, "Times New Roman", Times, serif;
}

:root {
  --my-sky: linear-gradient(
    190deg,
    rgba(2, 64, 89, 1) 0%,
    rgba(176, 125, 108, 1) 100%
  );
  --my-white: rgb(235, 222, 218);
  --my-black: rgb(36, 33, 33);
  --my-bronze: rgb(109, 147, 131);
  --my-cardboard: rgb(142, 105, 93);
  --my-sea: rgb(82, 91, 113);
}

body {
  background: var(--my-sky);
  margin: 0;
}
.man-on-moon {
  position: absolute;
  left: 5em;
  top: 3.5em;
  opacity: 65%;
}

.moon-and-man {
  opacity: 90%;
}

.outside {
  font-size: 70px;
}

.inside {
  background-color: var(--my-white);
  max-width: fit-content;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  padding: 1em;
  font-size: 50px;
  color: rgba(2, 64, 89, 1);
}

.outside,
.inside {
  text-align: center;
  margin: auto;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: fit-content;
  margin: 0 auto;
  background-color: var(--my-white);
  border-radius: 20px;
}

.card {
  width: 20em;
  height: 30em;
  box-shadow: 0px 5px 20px var(--my-black);
  margin: 1.5em;
  border-radius: 20px;
  transition: transform 300ms;
}

.card:hover {
  transform: scale(1.5);
}

.card-click {
  width: 20em;
  height: 30em;
  box-shadow: 0px 5px 20px var(--my-black);
  margin: 1.5em;
  border-radius: 20px;
  transition: transform 300ms;
  background-color: var(--my-sea);
  border: double 5px var(--my-white);
}

.image {
  width: 100%;
  height: 50%;
  box-shadow: 0px -1px 20px var(--my-black);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  opacity: 90%;
}

a {
  max-width: 10%;
  padding: 1em;
  background-color: var(--my-bronze);
  box-shadow: 0px 1px 8px var(--my-black);
  text-decoration: none;
  font-weight: bolder;
  font-size: large;
  border-radius: 20px;
  margin: 0.2em;
  margin-top: 2em;
  color: var(--my-black);
}

.card-click:hover {
  transform: scale(1.1);
}

.text {
  text-align: center;
  background-color: var(--my-sky);
  color: var(--my-white);
  width: 20em;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.text h2 {
  font-size: 25px;
  margin-top: 0.1em;
  margin-bottom: 0em;
}

.text p {
  font-size: 30px;
  margin-top: 0em;
  margin-bottom: 1.5em;
}

.skyline {
  max-width: 100vw;
}

footer {
  margin: 0%;
  padding: 0%;
}
